<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	
	<Properties>
		<Property name="fileLogDir">/var/log/vws-application.log</Property>
	</Properties>

	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
				>
			</PatternLayout>
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework.web" level="info" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>

		<Logger name="es.rvp.web.vws" level="info" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>
 		<Root>
            <AppenderRef ref="Console-Appender" />
        </Root>
   	</Loggers>
</Configuration>
