/* Vars section */

:root {
    --site-background-color: rgb(79, 80, 82);
    --topbar-background-color: #333;
    --topbar-height: 50px;
    --about-show-text-color: rgb(208, 208, 208);
    /* Layout size*/
    --button-bar-width: 10%;
    --main-content-width: 75%;
    --about-show-width: 15%;
}

* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--site-background-color);
    margin: 0;
}


/* -------------------------- Zone: Top ------------------------- */

div.topbar {
    background-color: var(--topbar-background-color);
    text-align: left;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--topbar-height);
    padding: 0px;
    border: 0px;
    margin: 0px;
}

div.topbar p {
    color: rgb(246, 189, 4);
    padding: 0px;
    border: 0px;
    margin: 15px;
}


/* --------------------- Zone: Left (Button zone) -------------------------- */

div.menubar {
    background-color: var(--topbar-background-color);
    overflow: hidden;
    position: fixed;
    left: 0;
    width: var(--button-bar-width);
    top: var(--topbar-height);
    height: 100vh;
}


/* Style the buttons inside the tab */

div.menubar button {
    display: block;
    background-color: inherit;
    color: rgb(184, 188, 191);
    padding: 22px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.80em;
}


/* Change background color of buttons on hover */

div.menubar button:hover {
    background-color: var(--site-background-color);
}


/* Create an active/current "tab button" class */

div.menubar button.active {
    color: rgb(246, 189, 4);
}


/* -------------------------- Zone: CENTER ------------------------- */

.main-content {
    position: fixed;
    top: var(--topbar-height);
    left: var(--button-bar-width);
    padding: 0px 0px;
    /*
    border: 2px solid #fa8072;
    */
    width: var(--main-content-width);
    /*
    border-left: none;
    border-right: none;
    border-bottom: none;
    */
    height: 100vh;
    overflow: scroll;
}


/* -------------------------- Zone: Right -------------------------- */

div.about-show {
    float: right;
    /*
    border: 5px solid #ccc;
    */
    background-color: var(--site-background-color);
    width: var(--about-show-width);
    height: 100vh;
    font-size: 0.775em;
    font-weight: lighter;
}

#about-show-empty-zone {
    float: top;
    border: 17px solid var(--site-background-color);
}

#about-show-title {
    float: top;
    border: 0px solid #ccc;
    margin: 5px;
    color: var(--about-show-text-color);
}

#about-show-description {
    float: top;
    border: 0px solid #aaa;
    margin: 5px;
    color: var(--about-show-text-color);
}

#about-show-sinopsis {
    float: top;
    border: 0px solid #aaa;
    margin: 5px;
    color: var(--about-show-text-color);
}


/* ------------------------ Component: Show ------------------------- */

div.show-container {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ccc;
    width: 140px;
}

div.show-container:hover {
    border: 1px solid #fa8072;
}


/* Elemento de texto dentro del show-container con la fecha, formato ..*/

.show-box-text {
    display: block;
    margin: 1px;
    padding: 1px;
    border: 1px;
    text-align: center;
    font-size: 0.675em;
    font-weight: lighter;
}


/* Titulo del show con Tooltip y recortado por puntos */

.show-box-title {
    width: auto;
    margin: 1px;
    padding: 1px;
    border: 1px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.875em;
    font-weight: bold;
}


/* Campo con la portada del show-container */

.show-box-img img {
    width: 100%;
    height: auto;
}

.show-box-img .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: -120px;
}

.show-box-img:hover .tooltiptext {
    visibility: visible;
}