@CHARSET "UTF-8";

body {
	background-color: #ffffff;
}

h1 {
	color: #aaaaaa;
}

p {
	color: black;
}

div.messages-box {
    border: 3px solid red;
}

div.show-box {
    display: inline-block;
    margin: 10px;
    border: 3px solid #73AD21;
}
.show-box-element {
	display: block;
}

/* Todo esto quizas deberia de ir a un fichero de CSS especifico de los shows */
div.shows-section {
	border: 1px solid blue;
}
